
body {
    background-color: #ffffff;
    color: #000000;
    font-family:Arial, Helvetica, sans-serif;
}


.header1{
    width: 100%;
    height: 100%;
    border:0;
    padding-top:0 ;
}


.header{
    background-color: #0099cc;
    width:"100%"; 
    border:"0";
}



/* Header */
#Rhead {
    font-size: large;
    color:#ffffff;
    font-weight:bold;
    padding-right: 20px;
    padding-top: 0px;
}

#Guide {
    font-size: large;
    color:#ffffff;
    font-weight:bold;
    padding-left: 10px;
    padding-top: 0px;
}

#guide {
    font-size: large;
    color:#ffffff;
    font-weight:bold;
}

/* Outline */

.profile {
    width: 96%;
    margin:0px auto;
    border: 1px solid;
    height:100%;
}




