table.calendar {
    font-family: arial, helvetica;
    font-size: 10pt;
    empty-cells: show;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table.calendar tr td {
    border: 1px solid #aaaaaa;
}

table.calendar tr {
    vertical-align: top;
    height: 6em;
    background: #eeeeee;
}

table.calendar thead tr {
    text-align: center;
    background: #02a6ff02;
    color: #ffffff;
    height: auto;
    font-weight: bold;
}

.lecture {
    background: #ffffaa;
}

.lecture2 {
    background: #ddddbb;
}

.lab {
    background: #ffddcc;
}

.tutorial {
    background: #dddd55;
}

.quiz {
    background: #ff9900;
}

.exercise {
    background: #ccecff;
}

.holiday {
    background: #ccffcc;
}

.special {
    background: #aaaaff;
}

.important {
    background: #ffaaaa;
}

.reading {
    color: #3333ff;
}

.deadline {
    color: #ff0000;
}

.assignment {
    color: #0aa00a;
}

.date {
    color: #444444;
}

.menuHead {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 8px;
}

.menuItem {
    font-family: "Trebuchet MS", Arial, Verdana;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.titleHead {
    font-family: "Trebuchet MS", Arial, Verdana;
    font-size: 28px;
}

.titleHead.header {
    padding-left: 10px;
    padding-top: 0px;
    color: white;
}

#timer {
    font-style:Arial;
    font-size: large;
    color:#ffffff;
    font-weight:bold;
    padding-right:0;
    padding-top: 7px;
    line-height: 50%;
    line-height: 20px;
}




.cardBox {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: left;
    margin-right: 10px;
    padding: 5px;
    padding-top: 15px;
}

.headerBox {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    height: 100px;
}

.bodyBox {
    padding: 10px;
    font-size: small;
    text-align: left;
}

.bodyBox p {
    margin-left: 5px;
}

