




/*------wapper row-------*/
.header{
    background-color: darkblue;
    padding: 10px;
}

.hd-left{
    float: left;
    display: inline;
}

.hd-right{
    float: right;
    display: inline;
}


/*------body-------*/

.guest-info{
    background-color:white; 
    padding:10px 0px;
    margin: 10px 0px;
    text-align: center;
}

/*-----announce-card---*/

.announce-card{
    font-family: 微软雅黑, Arial, Helvetica, sans-serif;
    border-top: 5px solid #09BCD3;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.announce-card-img{
    font-size: 30px;
    color: #1E9FFF;
    padding-right: 10px;
}

.announce-card-title{
    font-size: 20px;
    display: inline-block;
    padding-top: 0px;
    
}

.announce-card-intro a{
    color: #2083C5;
    text-decoration: none;
}


/*---curriculum---*/
.curriculum-card{
    font-family: 微软雅黑, Arial, Helvetica, sans-serif;
    border-top: 5px solid #FDC010;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.curriculum-card-title{
    /*font-size: 18px;*/
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.curriculum-card-intro a{
    color: #2083C5;
    text-decoration: none;
}

.not-applied{
    font-weight: bold;
    color: red;
    display: inline-block;
}