table.calendar {
    font-family: arial, helvetica;
    font-size: 10pt;
    empty-cells: show;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table.calendar tr td {
    border: 1px solid #aaaaaa;
}

table.calendar tr {
    vertical-align: top;
    height: 6em;
    background: #eeeeee;
}

table.calendar thead tr {
    text-align: center;
    background: #02a6ff02;
    color: #ffffff;
    height: auto;
    font-weight: bold;
}

.lecture { background: #ffffaa; }
.lecture2 { background: #ddddbb; }
.lab { background: #ffddcc; }
.tutorial { background: #dddd55; }
.quiz { background: #ff9900; }
.exercise { background: #ccecff; }
.holiday { background: #ccffcc; }
.special { background: #aaaaff; }
.important { background: #ffaaaa; }
.reading { color: #3333ff; }
.deadline { color: #ff0000; }
.assignment { color: #0aa00a; }
.date { color: #444444; }


/*------------Card-----------*/

.cardBox {
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    float: left;
    padding: 5px;
    padding-top: 15px;
    margin:5px 10px 25px 0px;
}

.headerBox {
    color: #fff;
    padding: 10px;
    font-size: 15px;
    height: 100px;
}

.headerBox a{
    text-align: right;
}

.headerBox img{
    border: 0;
    width: 30;
    height: 30;
}

.bodyBox {
    padding: 10px;
    font-size: small;
    text-align: left;
}

.bodyBox a{
    text-decoration:none;
    color: black;
}

.bodyBox a:hover{
    text-decoration:none;
    color: black;
}

.bodyBox p {
    margin-left: 5px;
}

/*--------curriculum----------*/

#no{
    width:10%;
    text-align: center;
}

#course{
    width:20%;
    text-align: center;
}

#course-title{
    width:40%;
    text-align: center;
}

#course-type{
    width:10%;
    text-align: center;
}

#homepage{
    width:20%;
    text-align: center;
}

td.no{
    width:10%;
    text-align: center;
}

td.course{
    width:20%;
    text-align: left;
    padding-left: 15px;
}

td.course-title{
    width:40%;
    text-align: left;
    padding-left: 15px;
}

td.course-type{
    width:10%;
    text-align: center;
}

td.homepage{
    width:20%;
    text-align: left;
    padding-left: 15px;
}

td.homepage a{
    text-decoration:none;
    color: blue;
}

tr.pass{
    background-color: #CCFFCC;
}

tr.Postponed{
    background-color: #FFCCCC;
}

.tbhead{
    background-color: #aaaaaa;
}

